* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #808080;
    color: #ffffff;
}

.nav{
    align-items: center;
    background: linear-gradient(to right, #808080, #ffffff, #000000);
    z-index: 1000;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
}

.nav-logo {
    margin: 0px 50px;
    margin-top: 5px;
    font-style: italic;
}

ul, .home, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
}

.a-home{
    text-decoration: none;
    list-style-type: none;
    margin: 0%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
}

.color-home{
    max-width: 100%;
    width: 50px;
    margin: 0px 20px;
    padding: 0px 8px;
    color: aliceblue;
    opacity: 0.7;
    transition: .2;
}

.color-home:hover{
    border-bottom: 2px solid aqua;
    transition: 0.2s;
    opacity: 2;
    border-radius: 50px;
}
.color-home::before{
    transition: 0.5s;
}

.home{
    position: absolute;
    right: 0;
    margin: 0px 20px;
}

/*carou*/

.c-item{
    height: 630px;
}

.c-img{
    width: 100%;
    height: 100%;
}




  /*viewmore*/

.viewmore-container {
    text-align: center;
    background: #808080;
    flex-wrap: wrap;
  }

.titl-viewmore{
    margin-top: 15px;
    display: inline-block;
    background: #ffffff;
    color: #000000;
    font-weight: 800;
    padding: 3px 5px;
    border-radius: 10px;

  }

.titl-viewmore1{
    display: inline-block;
}

.txt-viewmore {
    margin: 0px 50px 5px 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

.cont-viewmore{
    font-style: italic;
}

.img-viewmore {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 10px;
  }

.logimg-viewmore {
    margin: 0px 100px;
    width: 100px;
    height: auto;
    border-radius: 50px 50px 50px 10px;
  }

.logimg-viewmorebr {
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 10px;
  }

.a-viewmore{
    font-size: 10px;
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 10px;
}

.a-viewmore:hover{
    background-color: darkgoldenrod;
    color: white;
    border:none;
    transition: 1s;
    text-decoration: none;
    border-radius: 50px;
}

.a-viewmore1{
    font-size: 10px;
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 10px;
}

.a-viewmore1:hover{
    background-color: darkgreen;
    color: white;
    border:none;
    transition: 1s;
    text-decoration: none;
    border-radius: 50px;
}

.a-viewmore2{
    font-size: 10px;
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 10px;
}

.a-viewmore2:hover{
    background-color: darkblue;
    color: white;
    border:none;
    transition: 1s;
    text-decoration: none;
    border-radius: 50px;
}

.space{
    background-color: #808080;
    margin: 50px;
}